.section_wrapper {
  margin: 56px 48px;
  /* height: 50vh; */
}
.section_container {
  display: flex;
}
.section1_info {
  padding: 32px 0;
}
.section1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.section1 h1 {
  font-size: 48px;
  margin-top: 16px;
  /* margin: 32px 0; */
}
.section1 p {
  font-size: 32px;
  line-height: 1.2;
  margin: 16px 0;
  padding: 16px 0;
}
.iconlink{
  display: flex;
  column-gap: 1em;
  background-color: white;
}
.github, .linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  font-size: 32px;
  /* color: #7f7def; */
  columns: #6dc4d5;
  box-shadow: 0 5px 15px -5px rgb(0 0 0 / 44%);
  box-shadow: rgba(127, 125, 239, 0.1) 0px 7px 29px 0px;
  padding: 0 20px;
  border-radius: 30px;
  margin: 16px 0;
}
.section2 {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.computer_pic {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 500px;
}
